<div>
    <h1>Logueate usando GitHub!</h1>
    <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>
    <br/>
    <h2>No quieres usar GitHub!, Puedes usar nuestros enlaces:</h2>
    <p>¿No estas registrado?<a href="/users/register">Registrate aqui</a></p>
    <p>¿Ya tienes cuenta con nosotros?<a href="/users/login">Haz loguin aqui</a></p>
</div>