<div>
    <h1></h1>
    <form id="loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <br/>
        <label for="password">Contraseña</label>
        <input type="text" name="password" id="password">
        <input type="submit">
    </form>
    <p>
        No estas registrado? <a href="/users/register">Registrate aqui</a>
    </p>
</div>
<script src="../js/user/login.js"></script>